<h1><%= full_name(@patient) %></h1>

<h2>Prescriptions</h2><a class="new-prescription-link" href="<%= new_medication_path %>">Add Prescription</a>

<h2>Medications</h2>
<table class="table">
  <thead>
  <tr>
    <th>Medication</th>
    <th>Dosage/Schedule</th>
    <th>Dates</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>